# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Default ignored files
/shelf/
/workspace.xml

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

#Copiled Classes
bin

#enviornment variables
.env
